* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

}
body {
  font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F2;
    
    
}
ol, ul {
    list-style: none;
  }
  main {
      width: 92%;
      margin: auto;
      display: grid;
      grid-template: repeat(40, 5rem)/ repeat(9, 1fr);
    max-width: 1600px;
    grid-gap: 1rem;
    color:#2f3641;
  }

  h2:hover {
      color: black;
     
  }
/* ----- Header -------- */
  header {
     background-color:  #BBBFCA;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 4rem;
     opacity: .6;
     position: fixed;
     width: 100%;
     z-index: 9;
  }
.logoHeading {
    margin-left: 2rem;
}
nav  ul {
      display: flex;

  }
 .navigation li {
      margin-right: 2rem;
  }
  

/* ---------- About Section -------- */


#about {
    grid-area: 1/ 1/ 15/ 6;
      display: flex;
      align-items: center;
      background-color: white;
      /* flex-direction: column;
      justify-content: center; */
  }
#about p {
    margin: 3rem;
}
#about h1 {
    margin-left:3rem;
    margin-bottom: 20rem;
        
   
}

 .aboutImage {
     grid-area: 2/ 6/ 13/span 4;
 }

 .aboutImage img{
   
    object-fit: cover;
    width: 100%;
    height: 100%;
 }
/* ------Skills Secttion ------ */
 #skillsHeading {
     grid-area: 13/ 6/ 15/ span 4;
     /* width: 100%; */
     height: 100%;
     /* border: 1px solid black; */
     display: flex;
     align-items: center;
     justify-content: end;
     font-size: 2rem;
     /* background-color: white; */
 }
 #skills {
     grid-area: 15/ 5/ 21/ span 5;
     width: 100%;
     height: 100%;
     /* border: 1px solid black; */
     background-color: white;
     /* font-weight: bold;    */

 }
 
 .skillsList {
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     margin-right: 0;
 }


     
 
 .skillLogos {
     grid-area: 15/ 1/ 23/ 5;
     width: 100%;
     height: 100%;
     /* border: 1px solid black; */
 }
.skillBanner {
    /* display:none; */
    grid-area: 16/ 1/ 22/ 4;
    z-index: 1;

}
.skillBanner img{
     width: 100%;
     height: 100%;
     /* padding: 1rem; */
     background-color: white;
     object-fit: cover;
     
     
 }
 #skillColor {
    grid-area: 16/ 1/ 22/ 4;
    z-index: 0;
   
 }
 #skillColor img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .skillLogos .skill {
     max-width: 30%;
     display: none;
 }


/* -------Projectcs Section -------- */

.projectsHeading {
    grid-area: 21/ 6/ 23/ 10;
    width: 100%;
     height: 100%;
     /* border: 1px solid black; */
     display: flex;
     align-items: center;
     font-size: 2rem;
     /* background-color: white; */
}

.projectsBanner {
    
    grid-area: 24/ 7/ 29/ 10;
}
.projectsBanner img {
    width: 100%;
    height: 100%;
    /* padding: 1rem; */
    background-color: white;
    object-fit: cover;
}


#projects {
    grid-area: 23/ 1/ 30/ 6;
    width: 100%;
     height: 100%;
     /* border: 1px solid black; */
     display: flex;
     align-items: center;
     background-color: white;
}
#projects h3 {
    margin: 17rem  3rem 0 1rem;
    
}
#projects ul li {
    line-height: 3rem;
}

/* -------Contacts Section--------- */

.contactHeading {
    grid-area: 30/ 1/ 32/ 7;
    display: flex;
    align-items: center;
    justify-content: end;
    /* background-color: white; */
}

.contactPhoto {
    grid-area: 31/ 8/ 40/10;

}
#contact {
    grid-area: 32/ 1/ 37/ 7;
    width: 100%;
     height: 100%;
     /* border: 1px solid black; */
     display: flex;
     align-items: center;
     background-color: white;

}

.contactPhoto img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}








 form {
     display: none;
    }


footer {
     height: 2.5rem;
     background-color: #BBBFCA;
    display: flex;
    align-items: center;
    justify-content: center;
}